$color_dots: #D399FF;
$color_active_dot: #869791;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

.owl-dots {
  width: 1064px;
  display: inline-flex;
  justify-content: center;
  @include max-screen(1024px) {
    max-width: 994px;
  }
  @include max-screen(992px) {
    max-width: 962px;
  }
  @include max-screen(834px) {
    max-width: 804px;
  }
  @include max-screen(820px) {
    max-width: 790px;
  }
  @include max-screen(800px) {
    max-width: 770px;
  }
  @include max-screen(768px) {
    max-width: 738px;
  }
  @include max-screen(428px) {
    max-width: 398px;
  }
}
.owl-carousel .owl-dot span{
  height: 15px;
  width: 15px;
  background-color: $color_dots;
  border-radius: 50%;
  margin:15px;
  display: inline-block;
}

.owl-carousel .owl-dot.active span{
  background-color: $color_active_dot;
}
.owl-carousel .owl-stage{
  display: flex;
  justify-content: space-between;
}
.cards_container .owl-item{
  display: flex;
  justify-content: center;
  margin-right: 0;
}