.main_banner {
    background-color: #F0EFEB;
    padding-top: 90px;
    padding-bottom: 90px;
}
.main_banner .container{
    max-width: 1064px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    position: relative;
}
.main_banner .information{
    max-width: 534px;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 42px;
    margin-top: 0;
}
.main_banner p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 26px;
}
.main_banner a{
    background: #000000;
    border: 1px solid #000000;
    border-radius: 100px;
    padding: 7px 23px 9px 23px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
}
.main_banner .photo_container{
    max-width: 599px;
    position: absolute;
    left: 593px;
    top: -81px;
}
.cards{
    padding-top: 60px;
    padding-bottom: 248px;
}
.cards .container{
    max-width: 692px;
    margin: auto;
}
.cards .h3_first{
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 27px;
}
.cards .h3_second{
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 52px;
}
.cards .p_first{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-bottom: 47px;

}
.cards .p_second{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-bottom: 88px;
}
.cards_container{
    max-width: 1064px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.cards_container .card{
    max-width: 315px;
}
.first_card{
    margin-bottom: 27px;
}
.second_card{
    margin-bottom: 20px;
}
.third_card{
    margin-bottom: 19px;
}
.card .description{
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    padding-bottom: 17px;
    max-width: 164px;
    margin: auto;
}
.card .price{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
}
.card a {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    display: block;
    margin-bottom: 40px;
}
.owl-dots{
    width: 1064px;
    display: inline-flex;
    justify-content: center;

}
.owl-carousel button.owl-dot{
    height: 15px;
    width: 15px;
    background-color:  #D399FF;
    border-radius: 50%;
    margin:15px;
}
.owl-carousel .owl-stage{
    display: flex;
    justify-content: space-between;
}
.cards_container .owl-item{
    display: flex;
    justify-content: center;
    margin-right: 0;
}


